@using CMS.Helpers
@using Kentico.Content.Web.Mvc
@using Models
@inject IPageUrlRetriever pageUrlRetriever

<div class="col-2 m-1 mb-5 pl-1 pr-1">
    <div class="bbb_deals">
        <div class="ribbon ribbon-top-right">
            <span><i class="cross bi @ProductViewModel.IconClass"></i></span>
        </div>
        <div class="bbb_deals_title">@ProductViewModel.Product.CardHeader</div>
        <div class="bbb_deals_slider_container">
            <div class=" bbb_deals_item">
                <div class="bbb_deals_image">
                    <img src="@ProductViewModel.Image" alt="@ProductViewModel.Product.DocumentSKUName">
                </div>
                <div class="bbb_deals_content">
                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                        <div class="bbb_deals_item_category">
                            <a href="@Routes.GetCategoryURL(ProductViewModel.Product.SKUProduct.Department)">
                                @ProductViewModel.Product.SKUProduct.Department.DepartmentDisplayName
                            </a>
                        </div>
                    </div>
                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                        <div class="bbb_deals_item_name">
                            <a href="@pageUrlRetriever.Retrieve(ProductViewModel.Product).AbsoluteUrl">
                                @HTMLHelper.LimitLength(ProductViewModel.Product.DocumentSKUName, 35, "..", false)
                            </a>
                        </div>
                    </div>
                    <div class="bbb_deals_item_price ml-auto">
                        @string.Format(ProductViewModel.Prices.Currency.CurrencyFormatString,
                        ProductViewModel.Prices.Price)
                    </div>
                    <div class="item-list-price ml-auto">
                        @if(ProductViewModel.Prices.Price < ProductViewModel.Prices.ListPrice) {
                            <strike>@string.Format(ProductViewModel.Prices.Currency.CurrencyFormatString,
                                ProductViewModel.Prices.ListPrice)</strike>
                        }
                        else {
                            <span>&nbsp;</span>
                        }
                    </div>
                    <div class="available">
                        <div class="available_line d-flex flex-row justify-content-start">
                            @if(ProductViewModel.Available) {
                                    <div class="available_title">
                                        <span>Available: @ProductViewModel.Product.SKU.SKUAvailableItems</span>
                                    </div>
                                }
                                else {
                                    <span class="red-box">Out of stock</span>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductViewModel ProductViewModel { get; set; }
}