@using BlazorApp.Services
@using Models
@inject ICartService cartService
@inherits OptionSelectorComponent

<div class="form-group">
    <h4>@Category.CategoryLiveSiteDisplayName:</h4>
    <select value="@GetDefault()" @onchange="eventArgs => OnOptionSelected.InvokeAsync((null, eventArgs.Value, Category))" id="nonvar-opt-@Category.CategoryName" class="form-control">
        @if(!string.IsNullOrEmpty(Category.CategoryDefaultRecord))
        {
            <option value="">@Category.CategoryDefaultRecord</option>
        }
        @foreach (OptionViewModel option in Options.Where(o =>
     o.CategoryName == Category.CategoryName))
        {
            <option value="@option.SKUID">
                @option.Name
                @cartService.FormatPriceForSelector(option.Adjustment, Currency)
            </option>
        }
    </select>
</div>

@code {
    private int GetDefault()
    {
        return DefaultOptions.FirstOrDefault();
    }
}